
<section>
  <div class='card w-75 mx-auto'>
    <div>
      <h2><%= AuctionLot.model_name.human %> <%= @lot.code %></h2>

      <div>
        <p><%= AuctionLot.human_attribute_name :creator_user %></p>
        <p><%= @lot.creator_user.email %></p>
      </div>

      <% if @lot.evaluator_user %>
        <div>
          <p><%= AuctionLot.human_attribute_name :evaluator_user %></p>
          <p><%= @lot.evaluator_user.email %></p>
        </div>
      <% end %>

      <div>
        <p><%= AuctionLot.human_attribute_name :start_date %></p>
        <p><%= l(@lot.start_date, format: :long) %></p>
      </div>

      <div>
        <p><%= AuctionLot.human_attribute_name :end_date %></p>
        <p><%= l(@lot.end_date, format: :long) %></p>
      </div>

      <div>
        <p><%= AuctionLot.human_attribute_name :start_price %></p>
        <p><%= number_to_currency @lot.start_price %></p>
      </div>

      <div>
        <p><%= AuctionLot.human_attribute_name :min_bid_diff %></p>
        <p><%= number_to_currency @lot.min_bid_diff %></p>
      </div>
    </div>

    <%= render 'status_map' %>
  </div>

  <%= render 'bid_panel' %>

  <%= render 'lot_repository' %>

  <%= render 'add_item_form' %>
</section>
