
<section class='mb-3'>
  <div class='card mx-auto p-1 auction-item-width'>
    <div class='row g-0'>
      <div class='col-md-4'>
        <div class='ratio ratio-1x1 w-100 h-100'>
          <%= image_tag @item.photo, class: 'card-img-top rounded fit-img border'%>
        </div>
      </div>

      <div class='col-md-8'>
        <div class='d-flex flex-column h-100'>
          <div class='card-body'>
            <h3 class='card-title'><%= @item.name %></h3>

            <p class='card-text'><%= @item.description %></p>
          </div>

          <div>
            <div class='card-header text-secondary'>
              Propriedades físicas do item
            </div>

            <ul class='list-group list-group-flush'>
              <li class='list-group-item'><%= formated_dimension @item %></li>
              <li class='list-group-item'>Peso (g): <%= @item.weight %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
