
<% if user_signed_in? && current_user.common? && @lot.running? %>

  <div class='bid-panel'>
    <p>Oferta mínima: <%= number_to_currency(@lot.min_offer) %> </p>

    <div>

      <%= form_with url: bid_lot_path(@lot) do |f| %>
        <%= f.label :offer, t('.offer') %>
        <%= f.number_field :offer %>
        <%= f.submit 'Fazer oferta' %>
      <% end %>

    </div>
  </div>
  
<% end %>
