
<section>
  <%= form_with model: @lot do |f| %>
    <div>
      <%= f.label :code %>
      <%= f.text_field :code %>
      <%= field_errors_msgs(@lot, :code) %>
    </div>

    <div>
      <%= f.label :start_date %>
      <%= f.datetime_local_field :start_date %>
      <%= field_errors_msgs(@lot, :start_date) %>
    </div>

    <div>
      <%= f.label :end_date %>
      <%= f.datetime_local_field :end_date %>
      <%= field_errors_msgs(@lot, :end_date) %>
    </div>

    <div>
      <%= f.label :start_price %>
      <%= f.number_field :start_price %>
      <%= field_errors_msgs(@lot, :start_price) %>
    </div>

    <div>
      <%= f.label :min_bid %>
      <%= f.number_field :min_bid %>
      <%= field_errors_msgs(@lot, :min_bid) %>
    </div>

    <div>
      <%= f.submit t('.register') %>
    </div>
  <% end %>
</section>