<!DOCTYPE html>
<html>
  <head>
    <title>StockAuction</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>

      <nav>
        <%= link_to "Home", root_path %>

        <% if user_signed_in? && current_user.admin? %>
          <%= link_to "Novo item", new_auction_item_path %>
        <% end %>

        <% if user_signed_in? && current_user.admin? %>
          <%= link_to "Novo lote", new_lot_path %>
        <% end %>

        <% if user_signed_in? && current_user.admin? %>
          <%= link_to "Lotes expirados", expired_lots_path %>
        <% end %>

        <% if user_signed_in? && current_user.common? %>
          <%= link_to "Meus lotes", conquered_lots_path %>
        <% end %>

        <% if user_signed_in? %>
          <div>
            <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
          </div>
        <% else %>
          <div>
            <%= link_to 'Entrar', new_user_session_path %>
          </div>
        <% end %>
      </nav>

      <% if user_signed_in? %>
        <div>
          <p><%= current_user.email %> <%= '(adm)' if current_user.admin? %></p>
        </div>
      <% end %>
    </header>

    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    
    <main>
      <%= yield %>
    </main>
  </body>
</html>
