<!DOCTYPE html>
<html>
  <head>
    <title>StockAuction</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>

      <nav>
        <% if user_signed_in? %>
          <div>
            <%= link_to 'Sair', root_path %>
          </div>
        <% else %>
          <div>
            <%= link_to 'Entrar', new_user_session_path %>
          </div>
        <% end %>

        <% if user_signed_in? && current_user.admin? %>
          <%= link_to "Novo item", new_auction_item_path %>
        <% end %>

        <% if current_user&.admin? %>
          <%= link_to "Novo lote", new_lot_path %>
        <% end %>
      </nav>

      <div>
        <% if current_user&.admin? %>
          <p>(adm)</p>
        <% end %>
      </div>
    </header>

    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    
    <main>
      <%= yield %>
    </main>
  </body>
</html>
